In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel("../../data/raw/Global_Terrorism_Index.xlsx", sheet_name="Overall Scores", header = 6)

In [13]:
df

,country,iso3c,2011 score,2011 rank,2012 score,2012 rank,2013 score,2013 rank,2014 score,2014 rank,...,2020 score,2020 rank,2021 score,2021 rank,2022 score,2022 rank,2023 score,2023 rank,2024 score,2024 rank
0,Afghanistan,AFG,8.784,3,8.825,3,8.590,3,8.547,4,...,8.734,1,8.818,1,8.459,1,7.834,6,7.262,9
1,Angola,AGO,1.741,66,1.207,74,0.632,82,0.915,74,...,0.123,91,0.059,89,0.030,91,2.254,45,1.657,51
2,Albania,ALB,0.423,92,0.229,101,0.114,101,0.044,105,...,0.000,104,0.000,96,0.000,94,0.000,94,0.000,100
3,United Arab Emirates,ARE,0.000,114,0.000,113,0.000,111,1.293,70,...,0.000,104,0.000,96,0.423,77,0.233,85,1.178,67
4,Argentina,ARG,1.962,60,1.627,63,1.390,66,0.888,75,...,1.259,67,1.579,58,1.868,58,1.274,63,0.801,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Yemen,YEM,7.034,6,7.621,5,7.485,6,7.477,6,...,5.333,20,5.022,21,4.708,22,4.955,23,5.080,22
160,South Africa,ZAF,0.030,113,0.000,113,0.000,111,0.000,110,...,0.720,76,0.396,79,0.217,83,0.000,94,0.000,100
161,Zambia,ZMB,0.000,114,0.000,113,0.000,111,0.000,110,...,0.000,104,0.000,96,0.000,94,0.000,94,0.000,100
162,Zimbabwe,ZWE,0.000,114,0.000,113,0.000,111,0.000,110,...,0.000,104,0.000,96,0.000,94,0.000,94,0.000,100
163,Zimbabwe,ZWE,0.000,114,0.000,113,0.000,111,0.000,110,...,0.000,104,0.000,96,0.000,94,0.000,94,0.000,100

In [ ]:
# Filter out csv for only score related columns
score_columns = [col for col in df.columns if 'score' in str(col)]
df_scores_only = df[['country'] + score_columns]

In [15]:
df_scores_only

,country,2011 score,2012 score,2013 score,2014 score,2015 score,2016 score,2017 score,2018 score,2019 score,2020 score,2021 score,2022 score,2023 score,2024 score
0,Afghanistan,8.784,8.825,8.590,8.547,8.505,8.330,8.494,8.746,8.715,8.734,8.818,8.459,7.834,7.262
1,Angola,1.741,1.207,0.632,0.915,0.423,0.233,0.114,0.462,0.233,0.123,0.059,0.030,2.254,1.657
2,Albania,0.423,0.229,0.114,0.044,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,United Arab Emirates,0.000,0.000,0.000,1.293,1.136,0.720,0.406,0.217,0.044,0.000,0.000,0.423,0.233,1.178
4,Argentina,1.962,1.627,1.390,0.888,0.368,0.536,1.933,2.225,1.820,1.259,1.579,1.868,1.274,0.801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Yemen,7.034,7.621,7.485,7.477,7.544,7.369,6.907,6.536,6.138,5.333,5.022,4.708,4.955,5.080
160,South Africa,0.030,0.000,0.000,0.000,0.423,0.233,0.123,1.669,1.146,0.720,0.396,0.217,0.000,0.000
161,Zambia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
162,Zimbabwe,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
163,Zimbabwe,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [16]:
df_scores_only.to_csv("../../data/processed/Global_Terrorism_Index_Processed.csv", index=False)